html *:not(mjx-container):not(mjx-container *) {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #1e1e1e;
    color: white;
    margin: 20px;
}

code, pre {
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    color: #e3f4b2;
    padding: 2px;
    border-radius: 2px;
    background-color: #1a1a1a;
}

pre {
    display: block;
    padding: 10px;
    overflow-x: auto;
    border-radius: 4px;
    border: 1px solid #cecece;
}
