html *:not(mjx-container):not(mjx-container *) {
    font-size: 18px;
    line-height: 1.6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
                 sans-serif;
}

body {
    background-color: #ffffff;
    color: #000000;
    margin: 20px;
}

h1, h2, h3 {
    color: #000000;
    font-weight: 700;
}

code {
    font-family: "Consolas", "Courier New", monospace;
    font-size: 14px;
    color: #000000;
    background-color: #f3f3f3;
    padding: 2px 4px;
    border-radius: 4px;
    border: 1px solid #c0c0c0;
}

pre {
    display: block;
    padding: 12px;
    overflow-x: auto;
    background-color: #f3f3f3;
    border-radius: 4px;
    border: 1px solid #c0c0c0;
}

pre code {
    border: none;
    padding: 0;
    background: transparent;
    font-size: inherit;
    color: inherit;
}
